<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lifestyle</key>
	<array>
		<string>progress</string>
		<string>bill</string>
		<string>card</string>
		<string>piggybank</string>
		<string>wallet</string>
		<string>present</string>
		<string>scissors</string>
		<string>calendar</string>
		<string>chef</string>
		<string>fork</string>
		<string>housework</string>
		<string>maintenance</string>
		<string>workout</string>
		<string>muscle</string>
		<string>running</string>
		<string>yoga</string>
		<string>pizza</string>
		<string>stroller</string>
		<string>heels</string>
		<string>tie</string>
		<string>dog</string>
		<string>corgi</string>
		<string>cat</string>
		<string>fruit</string>
		<string>flipflops</string>
		<string>beach</string>
		<string>birthday-cake</string>
		<string>books</string>
		<string>buying</string>
		<string>camera</string>
		<string>cloakroom</string>
		<string>dance</string>
		<string>game</string>
		<string>mail</string>
		<string>music</string>
		<string>stroller</string>
	</array>
	<key>work</key>
	<array>
		<string>design</string>
		<string>briefcase</string>
		<string>workspace</string>
		<string>call</string>
		<string>folder</string>
		<string>outline</string>
		<string>cleaning</string>
		<string>pilers</string>
		<string>cap</string>
		<string>car</string>
		<string>code</string>
		<string>home</string>
		<string>laptop</string>
		<string>paint</string>
		<string>typer</string>
	</array>
	<key>social</key>
	<array>
		<string>beer</string>
		<string>champagne</string>
		<string>confetti</string>
		<string>tickets</string>
		<string>pokeball</string>
		<string>smartphone</string>
		<string>party</string>
		<string>messenger</string>
		<string>snapchat</string>
		<string>wechat</string>
		<string>spotify</string>
		<string>skype</string>
		<string>instagram</string>
		<string>whatsapp</string>
		<string>netflix</string>
		<string>weibo</string>
		<string>dribbble</string>
		<string>love</string>
	</array>
	<key>other</key>
	<array>
		<string>alarm</string>
		<string>cancel</string>
		<string>ok</string>
		<string>warning</string>
		<string>question</string>
		<string>buildings</string>
		<string>female</string>
		<string>male</string>
		<string>flag</string>
		<string>flowers</string>
		<string>house</string>
		<string>location</string>
		<string>pin</string>
		<string>airplane</string>
		<string>bell</string>
		<string>cleaning</string>
		<string>house</string>
		<string>ingredients</string>
		<string>pill</string>
		<string>personal</string>
		<string>sakura</string>
	</array>
</dict>
</plist>
